version: "3.8"

services:
  # 정적 웹서버
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    depends_on:
      - backend
      - model
      - frontend
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./frontend/dist:/usr/share/nginx/html:ro
    networks:
      - app_networks

  # 웹용 백엔드
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - ./.env  # 루트의 통합 환경변수 파일 사용
    volumes:
      - ./backend/certs:/app/certs:ro  # 인증서 파일 마운트 (읽기 전용)
      - ./backend/uploads:/app/uploads  # 프레임 이미지 저장 경로
    expose:
      - "3002"
    ports:
      - "3002:3002"
    networks:
      - app_networks

  # 모델 학습 및 서빙(fastAPI)
  model:
    build:
      context: .  # 프로젝트 루트를 build context로 변경 (models/test.pt 접근용)
      dockerfile: ./traffic_model/Dockerfile
    container_name: model
    restart: always
    env_file:
      - ./.env  # 루트의 통합 환경변수 파일 사용
    expose:
      - "8000"
    networks:
      - app_networks

  # 프론드엔트
  frontend:
    container_name: frontend
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_KAKAO_API_KEY: ${VITE_KAKAO_API_KEY}
        VITE_API_URL: ${VITE_API_URL}
        VITE_SOCKET_URL: ${VITE_SOCKET_URL}
    depends_on:
      - backend
    env_file:
      - ./.env  # 루트의 통합 환경변수 파일 사용
    expose:
      - "3000"
    networks:
      - app_networks

  # 데이터베이스
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    volumes:
      - mydata:/var/lib/mysql
    expose:
      - "3306"
    environment:
      MYSQL_DATABASE: new_schema
      MYSQL_USER: test
      MYSQL_ROOT_PASSWORD: root123123
      MYSQL_PASSWORD: "wlqrkrhtlvek1!"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "test", "-pwlqrkrhtlvek1!"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 30s
    networks:
      - app_networks

volumes:
  mydata:

networks:
  app_networks:
    driver: bridge
