version: "3.8"

services:
  # 정적 웹서버
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    depends_on:
      - backend
      - model
      - frontend
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./frontend/dist:/usr/share/nginx/html:ro
    networks:
      - app_networks

  # 웹용 백엔드
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - mysql
    env_file:
      - ./backend/.env
    expose:
      - "3001"
    ports:
      - "3001:3001"
    networks:
      - app_networks

  # 모델 학습 및 서빙(fastAPI)
  model:
    build:
      context: ./traffic_model
      dockerfile: Dockerfile
    container_name: model
    restart: always
    env_file:
      - ./traffic_model/.env
      - ./backend/.env # url값을 받기 위해 db 연동 (backend .env 활용)
    expose:
      - "8000"
    networks:
      - app_networks

  # 프론드엔트
  frontend:
    container_name: frontend
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    expose:
      - "3000"
    networks:
      - app_networks

  # 데이터베이스
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    volumes:
      - mydata:/var/lib/mysql
    expose:
      - "3306"
    environment:
      MYSQL_DATABASE: new_schema
      MYSQL_USER: test
      MYSQL_ROOT_PASSWORD: root123123
      MYSQL_PASSWORD: "wlqrkrhtlvek1!"
    networks:
      - app_networks

volumes:
  mydata:

networks:
  app_networks:
    driver: bridge
